#Ignore checkpoint data from local repo
.ipynb_checkpoints

#Ignore output files from 'Airbnb Raw Data Aggregation.ipynb'
Data/01_Raw/SF Airbnb Raw Data/SF Airbnb Raw Data - Aggregated/

#Ignore Data Files, files too large
Data/